body{
  background: url("/img/utils/chara-bg.png"); 
  font-family: "kirby-font";
  padding-bottom: 0px;
}



@font-face {
  font-family: "kirby-font";
  src: url("/fonts/KirbyClassic.ttf");
}

.navbar.navbar-inverse {
  border: none;
}

.navbar .navbar-brand {
  padding: 3px 30px;
}

.navbar .navbar-brand img {
  height: 45px;
}

.navbar-default {
  background: url("/img/utils/bg-deeppink-stripe.png");
}

.navbar{
  min-height: 70px !important;
}

.nav a{
  font-family: "kirby-font";
  letter-spacing: 2px;
  color: white !important;
}

.jumbotron{
    font-family: "kirby-font";
    letter-spacing: 1px;
    color: #d74894;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
    background: none;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.right{
  background-image: none !important;
}

.left{
  background-image: none !important;
}

.carousel-control{
  color: #d74894;
}

.carousel-control :hover{
  color: #d74894;
}

.floatingKirby{
    animation: vertical 1s ease-in-out infinite alternate;
    animation-duration: 1.1s;
}

.carousel-indicators 
.active{
  background-color: #d74894;

}

.carousel-indicators li{
  border-color: black;
}

.center-text{
  text-align: center;
}

.button-game {
  background: url("/img/utils/background.png");
  color: #3d354d;
}

.thumbnail :hover {
  cursor: pointer;
}

.panel-default {
  margin-top: 20px !important;
}

.anchor{
  padding-top: 60px;
}

.footer{
  position: relative;
  height: 150px;
  clear: both;
  padding-top:20px;
  padding-bottom: 0px !important;
}

@keyframes vertical {
    0% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }